<p id="notice"><%= notice %></p>

<p>
  <strong>Number Of apt:</strong>
  <%= @quote.number_of_apartments_in_the_building %>
</p>

<p>
  <strong>Number Of Floors, Excluding Basements:</strong>
  <%= @quote.number_of_floors_excluding_basements %>
</p>

<p>
  <strong>number_of_basements_contained_in_the_building:</strong>
  <%= @quote.number_of_basements_contained_in_the_building %>
</p>

<p>
  <strong>number_of_distinct_businesses:</strong>
  <%= @quote.number_of_distinct_businesses%>
</p>

<p>
  <strong>number_of_floors_excluding_basements:</strong>
  <%= @quote.number_of_floors_excluding_basements %>
</p>

<p>
  <strong>number_of_basements_contained_in_the_building:</strong>
  <%= @quote.number_of_basements_contained_in_the_building %>
</p>

<p>
  <strong>number_of_parking_space_available:</strong>
  <%= @quote.number_of_parking_space_available %>
</p>

<p>
  <strong>number_of_elevator_cages_to_be_deployed :</strong>
  <%= @quote.number_of_elevator_cages_to_be_deployed  %>
</p>

<p>
  <strong>number_of_separate_tenant_companies:</strong>
  <%= @quote.number_of_separate_tenant_companies %>
</p>

<p>
  <strong>unit_price_of_elevator:</strong>
  <%= @quote.unit_price_of_elevator %>
</p>

<p>
  <strong>total_price_of_elevator:</strong>
  <%= @quote.total_price_of_elevator %>
</p>

<p>
  <strong>installation_fees:</strong>
  <%= @quote.installation_fees %>
</p>

<p>
  <strong>final_price:</strong>
  <%= @quote.final_price %>
</p>

<%= link_to 'Edit', edit_quote_path(@lead) %> |
<%= link_to 'Back', quote_path