			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Customers</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/Manchester City.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/Kleenex.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/Febreeza.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/klein.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/chipotle.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/cresy.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/bounty.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/Mrclean.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/rr.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/up.png', style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/Pappa.png',style: width = '200px')) %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
                                <%= image_tag(image_path('images/PNG/7.png', style: width = '200px')) %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->