			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Customers</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/Manchester City.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/Kleenex.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/Febreeza.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/klein.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/chipotle.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/cresy.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/bounty.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/Mrclean.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/rr.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/up.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#">
								<%= image_tag "images/PNG/Pappa.png", height: 182.5 , width: 282.5 %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
								<%= image_tag "images/PNG/7.png", height: 182.5 , width: 282.5 %>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->