			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						
						<div class="img-hover">
							<a href="https://toronto.ctvnews.ca/anna-kendrick-posts-video-about-toronto-elevator-rescue-1.6064190">
								<img class="img" src="images/new1.jpg" height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new1.jpg', style: width = '200px')) %>
							</a>

							<h4 class="text-left mt-20"><a href="https://toronto.ctvnews.ca/anna-kendrick-posts-video-about-toronto-elevator-rescue-1.6064190">Anna Stuck In Elevator!</a></h4>
							<p class="text-left">Famous actress Anna Kendrick was seen stuck in an elevator this weekend.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jul 2017
								</li>
								<li>
									<a href="https://toronto.ctvnews.ca/anna-kendrick-posts-video-about-toronto-elevator-rescue-1.6064190">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>

						<div class="img-hover">
							<a href="https://www.richmond-news.com/local-news/touchless-keypad-installed-in-richmond-elevator-4964645">
								<img class="img" src="images/new2.jpg" height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new2.jpg', style: width = '200px')) %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.richmond-news.com/local-news/touchless-keypad-installed-in-richmond-elevator-4964645">New Touchless Elevator?</a></h4>
							<p class="text-left">Come see this revolutionary new elevator technology.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									20th Jan 2022
								</li>
								<li>
									<a href="https://www.richmond-news.com/local-news/touchless-keypad-installed-in-richmond-elevator-4964645">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>

						<div class="img-hover">
							<a href="https://www.newswire.ca/news-releases/tk-elevator-opens-new-north-american-headquarters-as-part-of-continued-investment-in-innovation-leadership-843968470.html">
								<img class="img" src="demo_files/images/new3.jpg"  height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new3.jpg', style: width = '200px')) %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.newswire.ca/news-releases/tk-elevator-opens-new-north-american-headquarters-as-part-of-continued-investment-in-innovation-leadership-843968470.html">TKE New Headquarter!</a></h4>
							<p class="text-left">TKE get brand new headquarter in North America.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									3rd Dec 2002
								</li>
								<li>
									<a href="https://www.newswire.ca/news-releases/tk-elevator-opens-new-north-american-headquarters-as-part-of-continued-investment-in-innovation-leadership-843968470.html">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.saanichnews.com/news/whatever-happened-to-elevator-music/">
								<img class="img" src="demo_files/images/new4.jpg" height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new4.jpg', style: width = '200px')) %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.saanichnews.com/news/whatever-happened-to-elevator-music/">No More Music?</a></h4>
							<p class="text-left">What happened to the ever popular genre of elevator music and when will it be back?</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									1st April 2017
								</li>
								<li>
									<a href="https://www.saanichnews.com/news/whatever-happened-to-elevator-music/">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.durhamradionews.com/archives/148859">
								<img class="img" src="demo_files/images/new5.jpg" height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new5.jpg', height:"176.67" ,width:"265")) %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.durhamradionews.com/archives/148859">CN Tower Glass Falls!</a></h4>
							<p class="text-left">CN towe elevator back in action after a piece of glass fell from it.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									17th Dec 2019
								</li>
								<li>
									<a href="https://www.durhamradionews.com/archives/148859">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>

						<div class="img-hover">
							<a href="https://www.indiatvnews.com/trending/news/world-largest-elevator-installed-in-mumbai-at-jio-world-centre-carry-200-people-together-all-details-2022-05-09-775344">
								<img class="img" src="demo_files/images/new6.jpg" height="176.67" width="265" alt="">
                                <%= image_tag(image_path('images/new6.jpg', style: width = '200px')) %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.indiatvnews.com/trending/news/world-largest-elevator-installed-in-mumbai-at-jio-world-centre-carry-200-people-together-all-details-2022-05-09-775344">Biggest Elevator Ever?</a></h4>
							<p class="text-left">200 people can now fit in one elevator with revolutionary new elevator.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									31 Oct 2020
								</li>
								<li>
									<a href="https://www.indiatvnews.com/trending/news/world-largest-elevator-installed-in-mumbai-at-jio-world-centre-carry-200-people-together-all-details-2022-05-09-775344">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->