<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="" />
		<meta name="Author" content="Gianluca Ciccone" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="assets\js\QuoteForm.js"></script>
        <link rel="shortcut icon" type="image/jpg" href="demo_files/images/Tab.png"/>

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/yellow.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Rocket Elevators</h6>
						<p>Elevate Safety, Speed and style</p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> <br /> Wellington, Verdun, Canada</li>
							<li><b>Phone:</b> 1(800)-555-1234</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@rocketelevators.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

            <div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/images/_smarty/R2.png" alt="" />
						</a>


						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a href="index.html">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services">
											SERVICES
										</a>
									</li>
									<li><!-- Portfolio -->
										<a href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>
<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Quote Form</h2>
						<p class="lead font-lato">Get a free estimate</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Please fill information <strong><em></em></strong></h3>
							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<form action="php/contact.php" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<dic class="row">
                                        <div class="col-md-4">
                                            <label for="buildingType">Building Type*</label>
                                            <select id="buildingType" class="form-control">
                                                <option value="select" id="select">--Select--</option>
                                                <option value="residential" id="residential">Residential</option>
                                                <option value="commercial" id="commercial">Commercial</option>
                                                <option value="corporate" id="corporate">Corporate</option>
                                                <option value="hybrid" id="hybrid">Hybrid</option>
                                            </select>
                                        </div>
                                    </dic>
									<%= form_for(buildingType, html: {class: 'hideme'}) do |form| %>
                                	<div class="hideme">
                                    	<div class="row" id="residential-row">
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Apartments_In_The_Building %>
												<%=form.text_field :number_of_apartments_in_the_building, class: "form-control" %>
            
                                            </div>
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Floors_In_The_Building %>
												<%=form.text_field :number_of_floors_in_the_building, class: "form-control" %>
                                                
                                            </div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Basements_In_The_Building %>
												<%=form.text_field :number_of_basements_in_the_building, class: "form-control" %>
												
											</div>
										</div>
										<div class="row" id="commercial-row">
											<div class="col-md-4">
												<%=form.label :Number_Of_Basement_Contained_In_The_Building %>
												<%=form.text_field :number_of_basement_contained_in_the_building, class: "form-control" %>
												
											</div>
										</div>
                                        <div class="row" id="commercial-row">
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Businesses_In_The_Building %>
												<%=form.text_field :number_of_businesses_in_the_building, class: "form-control" %>
                                                
                                            </div>
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Floors_In_The_Building %>
												<%=form.text_field :number_of_floors_in_the_building, class: "form-control" %>
                                                
                                            </div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Basements_In_The_Building %>
												<%=form.text_field :number_of_basements_in_the_building, class: "form-control" %>
												
											</div>
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Parking_Spaces_In_The_Building %>
												<%=form.text_field :number_of_parking_spaces_in_the_building, class: "form-control" %>
												
											</div>
											
                                            <div class="col-md-4">
												<%=form.label :Number_Of_Elevator_Cages_To_Be_Deployed %>
												<%=form.text_field :number_of_elevator_cages_to_be_deployed, class: "form-control" %>
												
											</div>
									    </div>
										<div class="row" id="corporate-row">
											<div class="col-md-4">
												<%=form.label :Number_Of_Businesses_In_The_Building %>
												<%=form.text_field :number_of_businesses_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Floors_In_The_Building %>
												<%=form.text_field :number_of_floors_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Basements_In_The_Building %>
												<%=form.text_field :number_of_basements_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Parking_Spaces_In_The_Building %>
												<%=form.text_field :number_of_parking_spaces_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Maximum_Number_Of_Occupants_Per_Floor %>
												<%=form.text_field :maximum_number_of_occupants_per_floor, class: "form-control" %>
												
											</div>
										</div>
										<div class="row" id="hybrid-row">
											<div class="col-md-4">
												<%=form.label :Number_Of_Businesses_In_The_Building %>
												<%=form.text_field :number_of_businesses_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Floors_In_The_Building %>
												<%=form.text_field :number_of_floors_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Basements_In_The_Building %>
												<%=form.text_field :number_of_basements_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Parking_Spaces_In_The_Building %>
												<%=form.text_field :number_of_parking_spaces_in_the_building, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Maximum_Number_Of_Occupants_Per_Floor %>
												<%=form.text_field :maximum_number_of_occupants_per_floor, class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Number_Of_Hours_Of_Activity %>
												<%=form.text_field :number_of_hours_of_activity, class: "form-control" %>
												
											</div>
										</div>
									<div class="answer">
										<div class="row" id="cage-row">
											<div class="col-md-4">
												<%=form.label :Number_Of_Cages %>
												<%=form.text_field :number_of_cages, class: "form-control" %>
												 
											</div> 
										</div>
										<label>Select Quality:</label>
										<div class="row" id="standard-row">
											<div class="col-md-4">
												<%=form.label :Standard %>
												<%=form.radio_button :quality, "Standard", class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Premium %>
												<%=form.radio_button :quality, "Premium", class: "form-control" %>
												
											</div>
											<div class="col-md-4">
												<%=form.label :Excelium %>
												<%=form.radio_button :quality, "Excelium", class: "form-control" %>
												
											</div>
										</div>
									
										<div class="row" id="cage-row">
											<div class="col-md-4">
												<%=form.label :Unit_Price_Of_Elevator %>
												<%=form.text_field :unit_price_of_elevator, class: "form-control" %>
												
											</div> 
											<div class="col-md-4">
												<%=form.label :Total_Price_Of_Elevator %>
												<%=form.text_field :total_price_of_elevator, class: "form-control" %>
												
											</div> 
											<div class="col-md-4">
												<%=form.label :Installation_Fees %>
												<%=form.text_field :installation_fees, class: "form-control" %>
												 
											</div> 
											<div class="col-md-4">
												<%=form.label :Total_Price_Of_Elevator_With_Installation_Fees %>
												<%=form.text_field :total_price_of_elevator_with_installation_fees, class: "form-control" %>
												 
											</div> 
										</div>
									
									</div>	
								</div>	
									

								</fieldset>

								<div class="row">
									<div class="col-md-4">
										<%=form.submit "Submit", class: "btn btn-primary" %>
								
									</div>
								</div>
							</form>

						</div>

						

					</div>

				</div>
			</section>