<!DOCTYPE html>
<html>
	<head>
	<title>Form Quote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
	queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page 
	via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
	html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
	respond.min.js"></script>
	<![endif]-->
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Form Quote</h1>
				<%= form_with model: @Quote do |person_form| %>
					<%= person_form.label :name %>
					<%= person_form.text_field :name %>
					<%= person_form.label :email %>
					<%= person_form.text_field :email %>
					<%= person_form.label :phone %>
					<%= person_form.text_field :phone %>
					<%= person_form.label :address %>
					<%= person_form.text_field :address %>
					<%= person_form.label :city %>
					<%= person_form.text_field :city %>
					<%= person_form.label :state %>
					<%= person_form.text_field :state %>	
					<%= person_form.label :zip %>
					<%= person_form.text_field :zip %>
					<%= person_form.label :description %>
					<%= person_form.text_field :description %>
					<%= person_form.submit %>
				<% end %>
			</div>
		</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files
		as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
