<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorGroupWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>

    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

	<body class="smoothscroll enable-animation">

    <%= render partial: 'partials/navbar'%>
    <%= render partial: 'partials/slideshow'%>
    <%= render partial: 'partials/services'%>
    <%= render partial: 'partials/ribbon'%>
    <%= render partial: 'partials/portfolio'%>
    <%= render partial: 'partials/new'%>
    <%= render partial: 'partials/ceo'%>
    <%= render partial: 'partials/clients'%>
    <%= render partial: 'partials/contact'%>
    <%= render partial: 'partials/footer'%>
  
  </body>
</html>
